@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  margin: 50px auto;
}

code {
  font-family: 'Playfair Display', serif;
}

* {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

label,
input {
  display: block;
  margin: 10px auto;
}
button {
  margin: 0 auto 30px;
  border: none;
}

input,
button {
  border-radius: 14px;
  padding: 1rem 2rem;
}

input {
  border: 1px solid #ddd;
}

form {
  border-bottom: 1px solid #aaa;
}

ul {
  list-style: none;
  margin-left: -40px;
}

li{
  padding: 10px;
  background-color: #eee;
  margin-bottom: 10px;
  border-radius: 14px;
}